@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

:root {
  --blue: #5ce6b0;
}

* {
  color: white;
  font-family: "Koulen", cursive;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.3s linear;
}

*::selection {
  background: var(--blue);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--blue);
  color: #fff;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--blue);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(255, 165, 0, 0.2);
  color: var(--blue);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.839);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
}

header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #fff;
  text-transform: uppercase;
}

header .logo span {
  color: var(--blue);
}

header .navbar a {
  color: #fff;
  font-size: 2rem;
  margin: 2.8rem;
}

header .navbar a:hover {
  color: var(--blue);
}

header .icons i {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  margin-right: 2rem;
}

header .icons i:hover {
  color: var(--blue);
}

.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active {
  top: 0;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #fff;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  columns: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

h3 {
  color: #444;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: var(--blue);
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1.5rem;
  color: #666;
}

.login-form-container form p a {
  color: var(--blue);
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 2rem;
  right: 3rem;
  font-size: 5rem;
  color: #fff;
  cursor: pointer;
}

#menu-bar {
  color: #fff;
  border: 0.1rem solid #fff;
  font-size: 3rem;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 1200px) {
  html {
    font-size: 65%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #333;
    border-top: 0.1rem solid rgba(225, 225, 225, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
    background: #222;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

body {
  font: 16px Arial, Verdana, Tahoma, Sans-serif;
}

.container {
  background: rgba(51, 51, 51, 0.839);
  width: 852px;
  margin: 355px 0px;
  padding: 16px;
  position: fixed;
  text-align: center;
  bottom: 2px;
  left: 37%;
  margin-top: -100px;
  margin-left: -200px;
}

.wrapper {
  padding-bottom: 2px;
  margin: 8px 0;
  font-size: 45px;
}

.search-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
}

input {
  min-width: 20px;
  padding: 8px;
  margin: 0 4px 0 0;
  border: 1px solid #666;
  border-radius: 15px;
  height: 30px;
}

.button {
  padding: 8px 16px;
  min-height: 48px;
  min-width: 10px;
  word-wrap: nowrap;
  background: #000;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
}

input {
  order: 0;
  align-self: auto;
  height: 40px;
}

.search {
  margin: 20px;
  flex: 2 1 auto;
  height: 50px;
}

.date-from {
  margin: 20px;
  flex: 1 1 auto;
  height: 50px;
}

.date-to {
  margin: 20px;
  flex: 1 1 auto;
  height: 50px;
}

.button {
  margin: 20px;
  order: 4;
  flex: 0 1 auto;
  align-self: auto;
  cursor: pointer;
}

.button:hover {
  background-color: #5ce6b0;
}
